body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#pinterest-card {
  width: 235px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 25vh;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.55);
  transition: 0.6s ease;
}

#button-save {
  position: absolute;
  left: 70%;
  top: -4vh;
  text-align: center;
  user-select: none;
  font-weight: bold;
  color: white;
  padding: 6px;
  width: 40px;
  height: 20px;
  background-color: rgb(194, 17, 17);
  border-radius: 25%;
  opacity: 0;
  transition: 0.3s;
}

#button-link {
  position: absolute;
  width: 120px;
  font-weight: bold;
  border-radius: 25px 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: -40px;
  left: 20px;
  background-color: white;
  padding: 3px;
  opacity: 0;
  transition: 0.3s;
}

#button-link a {
  text-decoration: none;
  color: black;
}

#button-upload {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -40px;
  left: 155px;
  background-color: white;
  padding: 3px;
  opacity: 0;
  text-align: center;
  transition: 0.3s;
}

#button-dots {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -40px;
  left: 190px;
  background-color: white;
  padding: 3px;
  opacity: 0;
  text-align: center;
  transition: 0.3s;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0%;
  transition: 0.5s;
}
#overlay:hover {
  opacity: 40%;
}

#pinterest-card:hover #button-save {
  opacity: 1;
  top: 2vh;
}

#pinterest-card:hover #button-link {
  opacity: 65%;
  bottom: 20px;
}

#pinterest-card:hover #button-upload {
  opacity: 65%;
  bottom: 20px;
}

#pinterest-card:hover #button-dots {
  opacity: 65%;
  bottom: 20px;
}

#pinterest-card:hover {
  scale: 1.1;
}
